fastapi
uvicorn[standard]
openai
requests
PyPDF2
python-docx
Pillow
python-multipart
# pytesseract # Comentado está bien
beautifulsoup4 # Opcional para limpieza HTML
# PyMySQL # Comentado está bien
psycopg2-binary # Para PostgreSQL
chardet # Para detectar encoding
httpx # <--- AÑADIDO para llamadas HTTP asíncronas a Google Places API